<h1>Listing word_sets</h1>

<table>
  <tr>
    <th>Text id</th>
    <th>Ch</th>
    <th>Pin</th>
    <th>Jp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


</table>

<%= link_to 'Get words', :controller => 'word_sets', :action => "get_words" %>

<br />

<%= link_to 'New Word set', new_word_set_path %>
