<h1>GetWords#show</h1>
<p>Find me in app/views/get_words/show.html.erb</p>

<br/>

<!-- <%= @data %><br/> -->

<br/>

# @data.class => 
# <%= @data.class %><br/>

<% @word_set_special.each do |item|%>
	<%= item.ch %>
<% end %>
