<h1>TestJqm#main</h1>
<p>Find me in app/views/test_jqm/main.html.erb</p>


<br/>
<%= @current_controller.to_s %>

<br/>
<br/>

<hr/>
<!-- http://stackoverflow.com/questions/3104711/ruby-on-rails-request-envhttp-referer-returns-nil -->
<ul>
<% request.env.each do |item| %>
    <li><%= item[0] %> : <%= item[1] %></li>
<% end %>
</ul>

